*.log
.current_coin
.current_coin_table
*.pyc
__pycache__
nohup.out
user.cfg
user1.cfg
*.cfg
#.idea/
.vscode/
.replit
venv/
crypto_trading.db
*.db
*.db-shm
*.db-wal
apprise.yml
.DS_Store
*.pkl
data_download.sh
backtest_results/*
supported_coin_list
supported_coin_list1
supported_coin_list2